fastapi[standard]
uvicorn
gunicorn

pydantic
pydantic-settings
passlib
pyjwt[crypto]
itsdangerous

sqlalchemy
asyncmy
mysql-connector-python
redis

pyyaml
python-multipart

requests
cachetools
pytest
pytest-asyncio
aiosqlite
httpx
